In [1]:
# Step 1: load dataset and basic checks
import pandas as pd
# number of features
pd.set_option('display.max_columns', None)

# adjust path if you placed the file elsewhere
df = pd.read_csv("../data/Faculty_Attrition_Synthetic_Dataset.csv")

# Show a quick snapshot
print("Shape:", df.shape)
display(df.head())

# Data types and non-null counts
print("\nInfo:")
display(df.info())

# Missing values summary
print("\nMissing values per column:")
display(df.isna().sum())

# Duplicate rows
print("\nNumber of duplicate rows:", df.duplicated().sum())

# Basic target distribution
print("\nTarget distribution (left_institution):")
display(df['left_institution'].value_counts(dropna=False))

Shape: (15200, 17)

,faculty_id,academic_rank,tenure_status,years_at_institution,base_salary,teaching_load,research_funding,institution_type,department_size,admin_support,work_life_balance,department_collaboration,promotion_opportunities,publications_last_3_years,student_evaluation_avg,job_market_alternatives,left_institution
0,7890,Full Professor,Tenure-Track,8,83717.243906,5,23973.839447,Community College,Large,8,8.188558,2.827861,5.735050,7.0,3.429113,5.155787,0
1,6732,Assistant Professor,Non-Tenure,3,45611.604269,9,21929.218175,Liberal Arts College,Small,3,2.369343,5.986704,5.598330,3.0,3.743535,1.000000,0
2,3238,Associate Professor,Tenured,0,69397.334987,8,10317.051887,Technical Institute,Large,7,5.731299,2.289629,2.026023,4.0,4.849195,4.904489,0
3,9509,Assistant Professor,Tenure-Track,7,57011.909828,5,50863.124935,Research University,Large,6,6.769015,9.967248,6.179585,3.0,4.328435,3.509004,1
4,6296,Assistant Professor,Tenure-Track,15,57859.462561,7,47180.376820,Technical Institute,Medium,9,2.324824,6.939790,7.469714,4.0,4.031883,5.387402,1

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15200 entries, 0 to 15199
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   faculty_id                 15200 non-null  int64
 1   academic_rank              15200 non-null  object
 2   tenure_status              15200 non-null  object
 3   years_at_institution       15200 non-null  int64
 4   base_salary                14747 non-null  float64
 5   teaching_load              15200 non-null  int64
 6   research_funding           13986 non-null  float64
 7   institution_type           15200 non-null  object
 8   department_size            15200 non-null  object
 9   admin_support              15200 non-null  int64
 10  work_life_balance          14898 non-null  float64
 11  department_collaboration   15200 non-null  float64
 12  promotion_opportunities    15200 non-null  float64
 13  publications_last_3_years  15125 non-null  float64
 14  student_evaluation_avg     15048 non-null  float64
 15  job_market_alternatives    15200 non-null  float64
 16  left_institution           15200 non-null  int64
dtypes: float64(8), int64(5), object(4)
memory usage: 2.0+ MB

None

Missing values per column:

faculty_id                      0
academic_rank                   0
tenure_status                   0
years_at_institution            0
base_salary                   453
teaching_load                   0
research_funding             1214
institution_type                0
department_size                 0
admin_support                   0
work_life_balance             302
department_collaboration        0
promotion_opportunities         0
publications_last_3_years      75
student_evaluation_avg        152
job_market_alternatives         0
left_institution                0
dtype: int64

Number of duplicate rows: 198

Target distribution (left_institution):

left_institution
0    7907
1    7293
Name: count, dtype: int64