In [2]:
# Step 1: load dataset and basic checks
import pandas as pd
# number of features
pd.set_option('display.max_columns', None)

# adjust path if you placed the file elsewhere
df = pd.read_csv("../data/Faculty_Attrition_Dataset.csv")

# Show a quick snapshot
print("Shape:", df.shape)
display(df.head())

# Data types and non-null counts
print("\nInfo:")
display(df.info())

# Missing values summary
print("\nMissing values per column:")
display(df.isna().sum())

# Duplicate rows
print("\nNumber of duplicate rows:", df.duplicated().sum())

# Basic target distribution
print("\nTarget distribution (left_institution):")
display(df['left_institution'].value_counts(dropna=False))

Shape: (15050, 17)

,faculty_id,academic_rank,tenure_status,years_at_institution,base_salary,teaching_load,research_funding,institution_type,department_size,admin_support,work_life_balance,department_collaboration,promotion_opportunities,publications_last_3_years,student_evaluation_avg,job_market_alternatives,left_institution
0,2228,Associate Professor,Tenure-Track,18,117428.12,2,33793.70,Research University,Small,3.5,6.9,7.0,8.1,6,4.178,3.2,0
1,13929,Lecturer,Tenured,4,NaN,9,45723.79,Research University,Large,7.0,7.5,6.4,5.9,2,3.422,1.0,0
2,8086,Full Professor,Tenured,25,155047.59,1,55494.33,Research University,Medium,3.8,6.5,5.6,5.4,10,4.056,2.2,0
3,567,Associate Professor,Tenured,10,96573.37,5,5637.40,Community College,Large,5.1,5.8,5.8,3.4,7,4.135,3.5,0
4,7279,Lecturer,Non-Tenure,3,49735.05,7,2592.35,Liberal Arts College,Small,5.0,5.3,4.6,5.7,1,3.907,6.1,1

Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15050 entries, 0 to 15049
Data columns (total 17 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   faculty_id                 15050 non-null  int64
 1   academic_rank              15050 non-null  object
 2   tenure_status              15050 non-null  object
 3   years_at_institution       15050 non-null  int64
 4   base_salary                14152 non-null  float64
 5   teaching_load              15050 non-null  int64
 6   research_funding           14146 non-null  float64
 7   institution_type           15050 non-null  object
 8   department_size            15050 non-null  object
 9   admin_support              15050 non-null  float64
 10  work_life_balance          14105 non-null  float64
 11  department_collaboration   15050 non-null  float64
 12  promotion_opportunities    15050 non-null  float64
 13  publications_last_3_years  15050 non-null  int64
 14  student_evaluation_avg     14108 non-null  float64
 15  job_market_alternatives    15050 non-null  float64
 16  left_institution           15050 non-null  int64
dtypes: float64(8), int64(5), object(4)
memory usage: 2.0+ MB

None

Missing values per column:

faculty_id                     0
academic_rank                  0
tenure_status                  0
years_at_institution           0
base_salary                  898
teaching_load                  0
research_funding             904
institution_type               0
department_size                0
admin_support                  0
work_life_balance            945
department_collaboration       0
promotion_opportunities        0
publications_last_3_years      0
student_evaluation_avg       942
job_market_alternatives        0
left_institution               0
dtype: int64

Number of duplicate rows: 50

Target distribution (left_institution):

left_institution
0    13060
1     1990
Name: count, dtype: int64