In [1]:
%run "./02_Preprocessing.ipynb"
print("If you see this, notebook ran successfully!")

Before cleaning:
Shape: (15050, 17)
Duplicate rows: 50

After removing duplicates and dropping faculty_id:
Shape: (15000, 16)
Duplicate rows (now): 0

,academic_rank,tenure_status,years_at_institution,base_salary,teaching_load,research_funding,institution_type,department_size,admin_support,work_life_balance,department_collaboration,promotion_opportunities,publications_last_3_years,student_evaluation_avg,job_market_alternatives,left_institution
0,Associate Professor,Tenure-Track,18,117428.12,2,33793.70,Research University,Small,3.5,6.9,7.0,8.1,6,4.178,3.2,0
1,Lecturer,Tenured,4,NaN,9,45723.79,Research University,Large,7.0,7.5,6.4,5.9,2,3.422,1.0,0
2,Full Professor,Tenured,25,155047.59,1,55494.33,Research University,Medium,3.8,6.5,5.6,5.4,10,4.056,2.2,0
3,Associate Professor,Tenured,10,96573.37,5,5637.40,Community College,Large,5.1,5.8,5.8,3.4,7,4.135,3.5,0
4,Lecturer,Non-Tenure,3,49735.05,7,2592.35,Liberal Arts College,Small,5.0,5.3,4.6,5.7,1,3.907,6.1,1

Missing counts BEFORE:

work_life_balance         938
student_evaluation_avg    933
research_funding          901
base_salary               895
dtype: int64

Created missing indicator flags for: ['work_life_balance', 'student_evaluation_avg', 'research_funding', 'base_salary']

Numeric columns detected: ['years_at_institution', 'base_salary', 'teaching_load', 'research_funding', 'admin_support', 'work_life_balance', 'department_collaboration', 'promotion_opportunities', 'publications_last_3_years', 'student_evaluation_avg', 'job_market_alternatives']
Categorical columns detected: ['academic_rank', 'tenure_status', 'institution_type', 'department_size']

Missing counts AFTER imputation (features only):

Series([], dtype: int64)

Numeric columns to process: ['years_at_institution', 'base_salary', 'teaching_load', 'research_funding', 'admin_support', 'work_life_balance', 'department_collaboration', 'promotion_opportunities', 'publications_last_3_years', 'student_evaluation_avg', 'job_market_alternatives']

Initial numeric summary (first 8 cols):

,count,mean,std,min,25%,50%
years_at_institution,15000.0,9.807667,6.676380,0.000000,5.0000,8.000
base_salary,15000.0,88129.336899,30601.001873,14498.580132,66565.3125,82789.700
teaching_load,15000.0,4.435533,2.711642,0.000000,2.0000,4.000
research_funding,15000.0,22466.102224,27554.471576,0.000000,5882.3225,12470.710
admin_support,15000.0,6.000760,1.502356,1.000000,5.0000,6.000
work_life_balance,15000.0,6.004700,1.717660,1.000000,4.9000,6.000
department_collaboration,15000.0,5.999293,1.499626,1.000000,5.0000,6.000
promotion_opportunities,15000.0,5.497807,1.961775,1.000000,4.1000,5.500
publications_last_3_years,15000.0,3.259133,2.508041,0.000000,1.0000,3.000
student_evaluation_avg,15000.0,3.924373,0.320363,2.499000,3.7190,3.923
job_market_alternatives,15000.0,4.419107,1.975030,1.000000,3.0000,4.400

Outlier counts (IQR rule) per numeric column:
  research_funding: 824
  years_at_institution: 499
  student_evaluation_avg: 183
  base_salary: 117
  work_life_balance: 116
  publications_last_3_years: 71
  department_collaboration: 55
  admin_support: 48
  teaching_load: 0
  promotion_opportunities: 0
  job_market_alternatives: 0

Created outlier flag columns for: ['years_at_institution_outlier_flag', 'base_salary_outlier_flag', 'research_funding_outlier_flag', 'admin_support_outlier_flag', 'work_life_balance_outlier_flag', 'department_collaboration_outlier_flag', 'publications_last_3_years_outlier_flag', 'student_evaluation_avg_outlier_flag']

Applied clipping at 1st and 99th percentiles for numeric columns.

Numeric summary after clipping + Robust scaling (first 8 cols):

,count,mean,std,min,25%,50%
years_at_institution,15000.0,0.223467,0.826199,-1.000000,-0.375000,0.0
base_salary,15000.0,0.124868,0.719768,-1.109425,-0.413473,0.0
teaching_load,15000.0,0.108883,0.677910,-1.000000,-0.500000,0.0
research_funding,15000.0,0.380111,0.915716,-0.508032,-0.268398,0.0
admin_support,15000.0,0.001207,0.741215,-1.750000,-0.500000,0.0
work_life_balance,15000.0,0.004148,0.775436,-1.909091,-0.500000,0.0
department_collaboration,15000.0,0.000605,0.739422,-1.750500,-0.500000,0.0
promotion_opportunities,15000.0,-0.000812,0.726583,-1.666667,-0.518519,0.0
publications_last_3_years,15000.0,0.060400,0.612823,-0.750000,-0.500000,0.0
student_evaluation_avg,15000.0,0.003484,0.763376,-1.881092,-0.495146,0.0
job_market_alternatives,15000.0,0.004945,0.700481,-1.214286,-0.500000,0.0

Sample rows where outlier flags are 1 (first 10):

,academic_rank,tenure_status,years_at_institution,base_salary,teaching_load,research_funding,institution_type,department_size,admin_support,work_life_balance,department_collaboration,promotion_opportunities,publications_last_3_years,student_evaluation_avg,job_market_alternatives,left_institution,work_life_balance_missing_flag,student_evaluation_avg_missing_flag,research_funding_missing_flag,base_salary_missing_flag,years_at_institution_outlier_flag,base_salary_outlier_flag,research_funding_outlier_flag,admin_support_outlier_flag,work_life_balance_outlier_flag,department_collaboration_outlier_flag,publications_last_3_years_outlier_flag,student_evaluation_avg_outlier_flag
36,Full Professor,Tenured,2.250,1.964577,-0.75,2.096292,Research University,Large,-1.00,-0.318182,-0.4000,0.888889,1.50,0.300971,-1.000000,0,0,0,0,0,1,1,0,0,0,0,0,0
41,Full Professor,Tenured,2.500,1.575267,-0.50,1.663540,Research University,Medium,-1.05,-0.545455,-1.2000,0.000000,0.50,0.473301,1.714286,0,0,0,0,0,1,0,0,0,0,0,0,0
50,Associate Professor,Tenure-Track,0.875,0.000000,-0.75,3.155891,Research University,Small,-0.30,0.454545,1.6500,-0.037037,0.50,0.019417,-0.428571,0,0,0,0,1,0,0,1,0,0,0,0,0
56,Full Professor,Non-Tenure,2.125,-0.659365,-0.25,3.853506,Research University,Medium,-0.70,-0.227273,1.0500,0.851852,0.00,0.029126,0.035714,0,0,0,0,0,0,0,1,0,0,0,0,0
72,Assistant Professor,Tenure-Track,-0.625,0.030915,-0.75,2.482802,Research University,Small,1.50,0.545455,-1.1500,0.111111,0.50,0.004854,-1.178571,0,0,0,0,0,0,0,1,0,0,0,0,0
77,Full Professor,Tenured,2.375,1.693708,0.00,0.000000,Research University,Small,-0.10,0.545455,0.8000,1.666667,0.50,0.276699,-0.142857,0,0,0,1,0,1,0,0,0,0,0,0,0
95,Lecturer,Non-Tenure,-0.375,-0.759786,0.50,-0.411844,Liberal Arts College,Medium,0.10,-1.727273,-1.7505,-0.074074,-0.25,-0.483010,-0.785714,0,0,0,0,0,0,0,0,0,0,1,0,0
139,Full Professor,Tenured,2.625,1.237682,0.00,0.111032,Technical Institute,Small,-0.30,0.000000,-0.0500,-1.222222,0.25,-0.558252,0.071429,0,1,0,0,0,1,0,0,0,0,0,0,0
148,Full Professor,Tenured,2.250,1.390242,0.25,-0.016479,Liberal Arts College,Medium,-0.95,-0.409091,-0.1000,-0.629630,1.25,-0.788835,0.285714,0,0,0,0,0,1,0,0,0,0,0,0,0
154,Assistant Professor,Tenure-Track,0.000,-0.221615,-0.25,3.886999,Research University,Medium,-0.20,1.045455,0.9500,0.740741,-0.25,0.000000,1.250000,0,0,1,0,0,0,0,1,0,0,0,0,0

Saved lists for pipeline:
  numeric_features: ['years_at_institution', 'base_salary', 'teaching_load', 'research_funding', 'admin_support', 'work_life_balance', 'department_collaboration', 'promotion_opportunities', 'publications_last_3_years', 'student_evaluation_avg', 'job_market_alternatives']
  outlier_flag_columns: ['years_at_institution_outlier_flag', 'base_salary_outlier_flag', 'research_funding_outlier_flag', 'admin_support_outlier_flag', 'work_life_balance_outlier_flag', 'department_collaboration_outlier_flag', 'publications_last_3_years_outlier_flag', 'student_evaluation_avg_outlier_flag']
Categorical columns detected:
['academic_rank', 'tenure_status', 'institution_type', 'department_size']

Column: academic_rank
 Unique values: ['Associate Professor' 'Lecturer' 'Full Professor' 'Assistant Professor']
--------------------------------------------------
Column: tenure_status
 Unique values: ['Tenure-Track' 'Tenured' 'Non-Tenure']
--------------------------------------------------
Column: institution_type
 Unique values: ['Research University' 'Community College' 'Liberal Arts College'
 'Technical Institute']
--------------------------------------------------
Column: department_size
 Unique values: ['Small' 'Large' 'Medium']
--------------------------------------------------

These columns will be OneHotEncoded as part of the pipeline.

Final feature groups:
 Numeric columns: ['years_at_institution', 'base_salary', 'teaching_load', 'research_funding', 'admin_support', 'work_life_balance', 'department_collaboration', 'promotion_opportunities', 'publications_last_3_years', 'student_evaluation_avg', 'job_market_alternatives']
 Missing-flag columns: ['work_life_balance_missing_flag', 'student_evaluation_avg_missing_flag', 'research_funding_missing_flag', 'base_salary_missing_flag']
 Outlier-flag columns: ['years_at_institution_outlier_flag', 'base_salary_outlier_flag', 'research_funding_outlier_flag', 'admin_support_outlier_flag', 'work_life_balance_outlier_flag', 'department_collaboration_outlier_flag', 'publications_last_3_years_outlier_flag', 'student_evaluation_avg_outlier_flag']
 Categorical columns: ['academic_rank', 'tenure_status', 'institution_type', 'department_size']
X shape: (15000, 27)
y shape: (15000,)

Training set: (12000, 27)
Test set: (3000, 27)
Target distribution (train):
left_institution
0    0.867917
1    0.132083
Name: proportion, dtype: float64
Target distribution (test):
left_institution
0    0.868
1    0.132
Name: proportion, dtype: float64

Categorical columns: ['academic_rank', 'tenure_status', 'institution_type', 'department_size']
Numeric columns: ['years_at_institution', 'base_salary', 'teaching_load', 'research_funding', 'admin_support', 'work_life_balance', 'department_collaboration', 'promotion_opportunities', 'publications_last_3_years', 'student_evaluation_avg', 'job_market_alternatives']
Missing-flag columns: ['work_life_balance_missing_flag', 'student_evaluation_avg_missing_flag', 'research_funding_missing_flag', 'base_salary_missing_flag']
Outlier-flag columns: ['years_at_institution_outlier_flag', 'base_salary_outlier_flag', 'research_funding_outlier_flag', 'admin_support_outlier_flag', 'work_life_balance_outlier_flag', 'department_collaboration_outlier_flag', 'publications_last_3_years_outlier_flag', 'student_evaluation_avg_outlier_flag']

Preprocessor fitted on training data.
If you see this, notebook ran successfully!

In [2]:
X_train.head()

,academic_rank,tenure_status,years_at_institution,base_salary,teaching_load,research_funding,institution_type,department_size,admin_support,work_life_balance,department_collaboration,promotion_opportunities,publications_last_3_years,student_evaluation_avg,job_market_alternatives,work_life_balance_missing_flag,student_evaluation_avg_missing_flag,research_funding_missing_flag,base_salary_missing_flag,years_at_institution_outlier_flag,base_salary_outlier_flag,research_funding_outlier_flag,admin_support_outlier_flag,work_life_balance_outlier_flag,department_collaboration_outlier_flag,publications_last_3_years_outlier_flag,student_evaluation_avg_outlier_flag
1787,Associate Professor,Non-Tenure,-0.375,0.296893,-1.00,-0.399468,Technical Institute,Large,0.95,1.227273,-0.35,0.037037,0.00,0.000000,-1.214286,0,1,0,0,0,0,0,0,0,0,0,0
3662,Lecturer,Non-Tenure,-0.750,0.000000,2.00,-0.135481,Liberal Arts College,Medium,-1.00,-0.454545,1.50,-0.074074,-0.50,0.094660,-0.142857,0,0,0,1,0,0,0,0,0,0,0,0
9963,Lecturer,Non-Tenure,-0.250,-1.007878,0.75,-0.315223,Liberal Arts College,Large,0.45,1.045455,0.65,-0.185185,-0.75,-0.033981,0.178571,0,0,0,0,0,0,0,0,0,0,0,0
844,Associate Professor,Tenured,0.625,1.964577,-0.50,1.232884,Research University,Large,0.90,-0.772727,-0.50,0.111111,1.25,0.031553,0.321429,0,0,0,0,0,1,0,0,0,0,0,0
12674,Associate Professor,Tenured,-0.500,0.841594,-0.50,1.957381,Research University,Medium,-0.80,0.772727,-1.20,0.444444,0.00,1.004854,-0.678571,0,0,0,0,0,0,0,0,0,0,0,0

In [3]:
# Imports for training & evaluation
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline
from sklearn.model_selection import cross_val_score, StratifiedKFold, GridSearchCV
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score,
    roc_auc_score, confusion_matrix, classification_report, precision_recall_curve
)
import matplotlib.pyplot as plt
import seaborn as sns
import joblib
import numpy as np